# DBeaver / Eclipse 워크스페이스 메타데이터
big21/database/workspace/.metadata/
big21/database/workspace/General/.dbeaver/
big21/database/workspace/General/.settings/
big21/database/workspace/General/.project

# 대용량 시드 데이터

# Python
__pycache__/
*.pyc
venv/

# 대용량 데이터
big21/pandas_shopping/data/
big21/shop-api/
